# ML441 Assignment 2 Code
## David Nicolay 26296918

### Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Load data

In [1]:
df = pd.read_csv('forestCover.csv', na_values='?')

NameError: name 'pd' is not defined

In [5]:
df.describe()

,Elevation,Aspect,Facet,Inclination,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Water_Level,Observation_ID,Cover_Type
count,5.810120e+05,581012.000000,581012.000000,581012.000000,5.810120e+05,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,...,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.000000,581012.0,581012.000000
mean,3.270099e+06,155.656807,389.919334,-0.000484,5.062486e+03,46.418855,2350.146611,212.146049,223.318716,142.528263,...,0.002773,0.003255,0.000205,0.000513,0.026803,0.023762,0.015060,290507.500000,1.0,2.051471
std,3.093831e+05,111.913721,280.343296,0.577741,9.523308e+05,58.295232,1559.254870,26.769889,19.768697,38.274529,...,0.052584,0.056957,0.014310,0.022641,0.161508,0.152307,0.121791,167723.861639,0.0,1.396504
min,2.054195e+06,0.000000,0.000000,-0.999999,0.000000e+00,-173.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.0,1.000000
25%,3.103945e+06,58.000000,145.490941,-0.500539,1.080000e+02,7.000000,1106.000000,198.000000,213.000000,119.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,145254.750000,1.0,1.000000
50%,3.310580e+06,127.000000,318.159602,-0.001062,2.180000e+02,30.000000,1997.000000,218.000000,226.000000,143.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,290507.500000,1.0,2.000000
75%,3.495115e+06,260.000000,652.528985,0.500932,3.840000e+02,69.000000,3328.000000,231.000000,237.000000,168.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,435760.250000,1.0,2.000000
max,4.263090e+06,360.000000,903.413405,0.999992,3.742899e+08,601.000000,7117.000000,254.000000,254.000000,254.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,581013.000000,1.0,7.000000