In [1]:
import numpy as np
import pandas as pd

# Task 1

In [58]:
df = pd.read_csv("badDataSet.csv", delimiter='\t', header=None)

/tmp/ipykernel_7004/642769985.py:1: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("badDataSet.csv", delimiter='\t', header=None)

In [3]:
df[62]

0         7
1         7
2         7
3         7
4         7
         ..
581007    3
581008    6
581009    3
581010    3
581011    3
Name: 62, Length: 581012, dtype: object

In [67]:
def data_quality_report_latex(df, caption="Data Quality Report", label="tab:data_quality"):
    """
    Generate a LaTeX table summarizing data quality for continuous (numeric) features in a DataFrame.
    """
    # Try to convert all columns to numeric, non-convertible entries become NaN
    df_numeric = df.apply(pd.to_numeric, errors='coerce')
    numeric_df = df_numeric.select_dtypes(include=[np.number])

    if numeric_df.empty:
        return "% No numeric columns found in DataFrame.\n"

    report = pd.DataFrame({
        "Feature": numeric_df.columns,
        "Count": numeric_df.count().values,
        "Miss.": numeric_df.isnull().sum().values,
        "Card.": numeric_df.nunique().values,
        "Min.": numeric_df.min().values,
        "1st Qrt.": numeric_df.quantile(0.25).values,
        "Mean": numeric_df.mean().values,
        "Median": numeric_df.median().values,
        "3rd Qrt.": numeric_df.quantile(0.75).values,
        "Max.": numeric_df.max().values,
        "Std. Dev.": numeric_df.std().values
    })

    # Format as LaTeX
    latex = report.to_latex(
        index=False,
        float_format="%.2f",
        column_format="|l|" + "r|" * (len(report.columns) - 1),
        caption=caption,
        label=label
    )
    
    return latex

In [54]:
df_noTarget = df.iloc[:, :-1]

In [55]:
df_noTarget

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
0,4264440.30,89,222.711631,11,785,81.916660,-0.6130492322,4352,237,222,...,0,0,0,0,0,0,0,1,1,1
1,4264440.30,4,10.035728,15,849,81.973876,-0.7910904623,4413,199,209,...,0,0,0,0,0,0,0,1,2,1
2,4263334.95,342,855.348205,16,870,81.035217,0.5197913793,4443,186,214,...,0,0,0,0,0,0,0,1,3,1
3,4262229.60,24,60.238933,15,828,80.054099,0.4326465146,4383,211,208,...,0,0,0,0,0,0,0,1,4,1
4,4258913.55,338,847.158476,15,892,77.054464,-0.9237992549,4473,187,218,...,0,0,0,0,0,0,0,1,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2062583.10,23,57.594866,14,85,16.059535,-0.1031359374,108,212,210,...,0,0,0,0,0,0,0,0,581008,1
581008,2059267.05,37,92.585707,17,120,17.977536,0.4172433854,90,217,202,...,0,0,0,0,0,0,0,0,581009,1
581009,2057056.35,35,87.547136,14,60,10.962117,0.9027182040,85,218,209,...,0,0,0,0,0,0,0,0,581010,1
581010,2055951.00,18,45.141729,13,95,14.972901,-0.2020354463,90,210,213,...,0,0,0,0,0,0,0,0,581011,1
581011,2054845.65,18,45.037101,12,67,10.971536,0.5664454985,90,211,215,...,0,0,0,0,0,0,0,0,581012,1

In [56]:
latex_table = data_quality_report_latex(df)

NameError: name 'numeric_df' is not defined

In [ ]:
print(latex_table)

In [68]:
target = df.iloc[:, -1]

In [69]:
np.count_nonzero(target == "?")

60

In [70]:
target = np.where(target == "?", np.nan, target)

In [71]:
target_df = pd.DataFrame(target)

In [72]:
latex_table = data_quality_report_latex(target_df)

In [73]:
latex_table

'\\begin{table}\n\\caption{Data Quality Report}\n\\label{tab:data_quality}\n\\begin{tabular}{|l|r|r|r|r|r|r|r|r|r|r|}\n\\toprule\nFeature & Count & Miss. & Card. & Min. & 1st Qrt. & Mean & Median & 3rd Qrt. & Max. & Std. Dev. \\\\\n\\midrule\n0 & 580952 & 60 & 7 & 1.00 & 1.00 & 2.05 & 2.00 & 2.00 & 7.00 & 1.40 \\\\\n\\bottomrule\n\\end{tabular}\n\\end{table}\n'

# Task 2